{% extends 'base.html' %}
{% block title %}Documentos | FyDataStart{% endblock %}

{% block content %}
<div class="container mt-4 p-4 shadow-lg rounded-3 bg-white text-dark">
    <h2 class="mb-4"><i class="bi bi-folder"></i> Documentos da Plataforma</h2>
    <p>Aqui você encontra arquivos úteis para apoiar o uso da FyDataStart:</p>

  <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
        <div class="col">
            <div class="card h-100 shadow-sm rounded-2">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-mortarboard"></i> PROJETO DE TCC </h5>
                    <p class="card-text"> Detalhes do desenvolvimento da plataforma </p>
                    <a  href="static/docs/Doc_Developed.pdf" class="btn btn-primary" download>
                        <i class="bi bi-download"></i> Baixar
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100 shadow-sm rounded-2">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-file-earmark-text"></i> Manual do Usuário (PDF)</h5>
                    <p class="card-text">Versão offline do manual de instruções da plataforma.</p>
                    <a  href="static/docs/Doc_Developed.pdf" class="btn btn-secondary" download>
                        <i class="bi bi-download"></i> Baixar
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm rounded-2">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-file-earmark-spreadsheet"></i> Diagramas de Caso de Uso </h5>
                    <p class="card-text">Observar funcionalidades da plataforma.</p>
                    <a  href="static/docs/Doc_Developed.pdf" class="btn btn-success" download> 
                        <i class="bi bi-download"></i> Baixar
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm rounded-2">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-journal-code"></i> Documento Técnico</h5>
                    <p class="card-text">Explicações técnicas sobre os modelos estatísticos implementados.</p>
                    <a  href="static/docs/Doc_Developed.pdf" class="btn btn-info" download> 
                        <i class="bi bi-download"></i> Baixar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
