{% extends 'base.html' %}
{% block title %}Manual de Usuário | FyDataStart{% endblock %}
{% block content %}
<div class="container mt-4 p-3 shadow-lg bg-light text-dark rounded">
    <h2 class="mb-4 p-3"><i class="bi bi-info-circle"></i> Manual de Usuário</h2>

    <div class="accordion" id="manualAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingIntro">
                <button class="accordion-button fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIntro" aria-expanded="true" aria-controls="collapseIntro">
                    Introdução
                </button>
            </h2>
            <div id="collapseIntro" class="accordion-collapse collapse show" aria-labelledby="headingIntro" data-bs-parent="#manualAccordion">
                <div class="accordion-body">
                    <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
        </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFuncionalidades">
                <button class="accordion-button collapsed  fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFuncionalidades" aria-expanded="false" aria-controls="collapseFuncionalidades">
                    Funcionalidades
                </button>
            </h2>
            <div id="collapseFuncionalidades" class="accordion-collapse collapse" aria-labelledby="headingFuncionalidades" data-bs-parent="#manualAccordion">
                <div class="accordion-body">
                    <p> 
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingAplicabilidade">
                <button class="accordion-button collapsed  fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAplicabilidade" aria-expanded="false" aria-controls="collapseAplicabilidade">
                    Aplicabilidade
                </button>
            </h2>
            <div id="collapseAplicabilidade" class="accordion-collapse collapse" aria-labelledby="headingAplicabilidade" data-bs-parent="#manualAccordion">
                <div class="accordion-body">
                    <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingModelos">
                <button class="accordion-button collapsed  fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseModelos" aria-expanded="false" aria-controls="collapseModelos">
                    Modelos
                </button>
            </h2>
            <div id="collapseModelos" class="accordion-collapse collapse" aria-labelledby="headingModelos" data-bs-parent="#manualAccordion">
                <div class="accordion-body">
                    <p>Modelos disponíveis na plataforma:
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDownload">
                <button class="accordion-button collapsed  fw-bold fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDownload" aria-expanded="false" aria-controls="collapseDownload">
                    Baixar Dados
                </button>
            </h2>
            <div id="collapseDownload" class="accordion-collapse collapse" aria-labelledby="headingDownload" data-bs-parent="#manualAccordion">
                <div class="accordion-body mb-3">
                    <p>Para isso, utilize os botões "Exportar" disponíveis nos dashboards.
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

